{% extends "base.html" %} {% block main %}
<div class="row justify-content-center m-3">
  {% for task in tasks %}

  <div class="col-sm-3 mb-6 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Title: {{task.taskTitle}}</h5>
        <p class="card-text">Description: {{task.taskDescription}}</p>
        <p>
          Category: {% for cat in task.taskCategory.all %}
          <button class = "btn btn-warning btn-sm m-2" disabled >{{cat.categoryName}}</button>
          {% endfor %}
        </p>
        <p class="card-text">Assign Date: {{task.taskAssignDate}}</p>
        {% if task.isCompleted %}
            <button class="btn btn-primary disabled">Completed</button>
        {% else %}
            <a href="{% url "edit_task" id=task.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url "delete_task" id=task.id %}" class="btn btn-danger">Delete</a>
        {% endif %}
      </div>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock main %}
